
DerivedData/

IconOverlaying.xcodeproj/project.xcworkspace/xcshareddata/IconOverlaying.xccheckout

IconOverlaying.xcodeproj/project.xcworkspace/xcuserdata/max.xcuserdatad/UserInterfaceState.xcuserstate

IconOverlaying.xcodeproj/xcuserdata/max.xcuserdatad/xcschemes/IconOverlaying.xcscheme

IconOverlaying.xcodeproj/xcuserdata/max.xcuserdatad/xcschemes/xcschememanagement.plist
