
DerivedData/

IconOverlaying.xcodeproj/project.xcworkspace/xcshareddata/IconOverlaying.xccheckout

IconOverlaying.xcodeproj/project.xcworkspace/xcuserdata/max.xcuserdatad/UserInterfaceState.xcuserstate

IconOverlaying.xcodeproj/xcuserdata/max.xcuserdatad/xcschemes/IconOverlaying.xcscheme

IconOverlaying.xcodeproj/xcuserdata/max.xcuserdatad/xcschemes/xcschememanagement.plist


### OSX ###
.DS_Store

### Xcode ###
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
